<%= form_with(model: signup, class: "contents") do |form| %>
  <% if signup.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul class="list-disc ml-6">
        <% signup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="bg-sky-100 p-12 rounded-md">
  <% case signup.current_step %>
  <% when 0 %>
    <%= render "signups/signup_steps/email_form", form: form %>
  <% when 1 %>
    <%= render "signups/signup_steps/details_form", form: form %>
  <% when 2 %>
    <%= render "signups/signup_steps/address_form", form: form %>
  <% when 3%>
    <%= render "signups/signup_steps/comms_form", form: form %>
  <% else %>
    <%= render "signups/signup_steps/summary", form: form %>
  <% end %>

 <%# back/next %>

  <div>
    <% if !signup.first_step? %>
      <%= form.submit "Go Back" %>
    <% end %>

    <% if !signup.last_step? %>
      <%= form.submit "Update Signup" %>
    <% end %>

   <% if signup.last_step? %>
      <%= form.submit "Confirm" %>
   <% end %>
  </div>
</div>
<% end %>
